.admin-controls
  = link_to @movie, :class => 'btn', :rel => :nofollow do
    %i.icon-arrow-left
    Back

  = link_to @movie, :class => 'btn btn-danger', :rel => :nofollow,
    :confirm => CONFIRM, :method => :delete do
    %i.icon-trash.icon-white
    Delete
