= form_tag sessions_path, class: 'form-inline' do
  .form-group
    = password_field_tag :password, nil, id: 'Password', class: 'form-control', autofocus: true

  = submit_tag 'Login', id: 'login-button', class: 'btn btn-primary', disable_with: 'Submitting...'
