= form_with url: sessions_path, class: 'form-inline' do
  = password_field_tag :password, nil, id: 'Password', class: 'form-control flex-fill mr-0 mr-sm-2 mb-2 mb-sm-0', autofocus: true, required: true

  = submit_tag 'Login', id: 'login-button', class: 'btn btn-primary'
