.admin-controls
  = link_to @list, class: 'btn btn-default btn-lg', rel: 'nofollow' do
    = icon 'arrow-left'

  = link_to @list, class: 'btn btn-danger btn-lg', rel: 'nofollow', method: 'delete', data: { confirm: CONFIRM } do
    = icon 'trash-o'
