.page-header
  %h1
    = link_to 'People', people_path
    %span.divider /
    = link_to @person.name, @person
    %span.divider /
    Graphs

%script{src: 'http://www.google.com/jsapi', type: 'text/javascript'}
%script{type: 'text/javascript'}
  google.load('visualization', '1', {'packages': ['corechart']});

#movie-history-line-graph

%hr

#movie-ratings-pie-chart

- smart_cache  do
  = render 'people/graphs/movie_history_line_graph'
  = render 'people/graphs/movie_ratings_pie_chart'
