%h2
  = link_to @person.name, @person
  &raquo; Graphs

%br

%script{:src => 'http://www.google.com/jsapi', :type => 'text/javascript'}
%script{:type => 'text/javascript'}
  google.load('visualization', '1', {'packages': ['corechart']});

#movie_history_line_graph

- smart_cache 'movie_history_line_graph' do
  = render 'people/show/movie_history_line_graph'

%br

#movie_ratings_pie_chart

- smart_cache 'movie_ratings_pie_chart' do
  = render 'people/show/movie_ratings_pie_chart'
