- if false
  - content_for :search do
    = render 'shared/search_form', :target => search_people_path, :type => 'person'

.page-header
  %h1
    = link_to 'People', people_path

#people-container
  = render 'list'
