- @countries = Tag.select('name, COUNT(*) AS total, AVG(rating) AS average')
- @countries = @countries.joins(:taggings).joins('INNER JOIN movies ON taggings.taggable_id = movies.id')
- @countries = @countries.where('context = ?', @type).group(:name)
-# @countries = @countries.having('COUNT(*) >= 5')

#countries

- smart_cache 'country_map' do
  %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
  = render 'tags/countries/map'
