.page-header
  %h1
    = link_to 'Countries', countries_path
    %span.divider /
    Map

- @countries = Tag.select('name, COUNT(*) AS total, AVG(rating) AS average')
- @countries = @countries.joins(:taggings).joins('INNER JOIN movies ON taggings.taggable_id = movies.id')
- @countries = @countries.where('context = ?', @type).group(:name)

#countries

- cache 'countries_map', :expires_in => 2.weeks do
  = render 'tags/countries/map_graph'
