.admin-controls
  = link_to @person, class: 'btn btn-secondary btn-lg mr-1', rel: 'nofollow' do
    = icon 'arrow-left'

  = link_to @person, class: 'btn btn-danger btn-lg mr-1', rel: 'nofollow', method: 'delete', data: { confirm: CONFIRM } do
    = icon 'trash-o'
