%ul.nav.nav-tabs.mb-3
  %li.nav-item
    = link_to 'All Movies', :movies, class: ['nav-link', active_tab_link?(:index)]

  %li.nav-item
    = link_to 'Perfect Movies', :perfect_movies, class: ['nav-link', active_tab_link?(:perfect)]
