= page_header do
  %h1 Add New Movie

= form_with url: scrape_info_path, class: 'form-inline' do
  = text_field_tag :imdb_url, nil, class: 'form-control flex-fill mr-sm-2 mb-2 mb-sm-0', placeholder: 'IMDb url', autofocus: true, required: true

  = submit_tag 'Submit', class: 'btn btn-primary'
