= page_header do
  %h1 Add New Movie

= form_with url: scrape_info_path, class: 'form-inline' do
  .form-group.row
    = text_field_tag :imdb_url, nil, id: 'from-imdb-field', class: 'form-control', placeholder: 'IMDb url', autofocus: true

  = submit_tag 'Submit', class: 'btn btn-primary loading', disable_with: 'Submitting...'
