%table
  %tr
    %th Title
    %th Imdb url
    %th

  - @movies.each do |movie|
    %tr
      %td= link_to movie.title, movie
      %td= movie.imdb_url
      %td= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Movie', new_movie_path
