%table
  %tr
    %th Title
    %th IMDB

  - @movies.each do |movie|
    %tr
      %td= link_to movie.title, movie
      %td= link_to movie.imdb_url, movie.imdb_url

= link_to 'New Movie', new_movie_path
