body
  background: #fff
  color: #333
  font-size: 80%
  padding: 0 0 20px 0

h2
  margin-bottom: 0
  font-size: 2.5em
  font-family: 'Trebuchet MS'

#admin_wrapper
  width: 100%
  position: fixed
  background: #000
  z-index: 9000

  #admin_bar
    text-align: center
    font-size: 1.16em
    padding: 10px
    width: 940px
    margin: auto

    a.button
      font-family: 'Helvetica Neue'
      font-size: 0.8em

.container
  padding: 0 20px

header
  border-bottom: 1px solid #eee
  padding: 0
  margin: 60px 0 10px 0
  font-family: 'Helvetica Neue'
  h1
    margin: 0
    font-size: 4em
    text-shadow: #000 1px 1px 2px
    a
      text-decoration: none
      &:hover
        color: #000

nav
  border-bottom: 1px solid #eee
  padding: 0 0 10px 0
  margin: 0 0 10px 0
  a
    text-decoration: none
    &:hover
      color: #000

footer
  margin-top: 10px
  border-top: 1px solid #eee

#search_form
  input:not([type=submit])
    font-family: 'Helvetica Neue'

.flash
  padding: 3px 8px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px

.close
  color: #000
  cursor: pointer
  float: right
  font-family: verdana

#error_explanation
  width: 100%
  border: 1px solid #c00
  padding-bottom: 0
  margin-bottom: 20px
  background: #f0f0f0
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 1.25em
  h2
    text-align: left
    font-weight: bold
    padding: 4px 4px 4px 8px
    margin-bottom: 0
    font-size: 0.8em
    background: #c00
    color: #fff
  ul
    margin: 4px 0
    padding-left: 28px
    list-style: square
  ul li
    font-size: 0.8em
    font-style: italic

.field_with_errors
  label
    color: #c00
  input, input:focus
    border: 1px solid #c00

label
  font-size: 1.25em

input
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  font-family: 'Monaco', monospace
  font-size: 1.25em

input[type=submit]
  font-size: 1em
  border: 1px solid #d3d3d3
  background: #efefef
  margin: 12px 0
  font-family: 'Helvetica Neue'

  &:hover
    border-color: #b3b3b3
    background: #e3e3e3

a.button, input[type=submit]
  color: #606060
  background: #efefef
  padding: 4px 12px
  line-height: 1.0em
  font-weight: bold
  letter-spacing: 1px
  word-spacing: 4px
  border: 1px solid #d3d3d3
  vertical-align: middle
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgb(239,239,239)), color-stop(0.5, rgb(227,227,227)))
  background: -moz-linear-gradient(center top, rgb(239,239,239) 50%, rgb(227,227,227) 50%)
  text-decoration: none
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  display: inline-block
  line-height: 1em
  font-family: 'Helvetica Neue'
  cursor: pointer

  &:hover
    border-color: #b3b3b3
    background: #e3e3e3

  &:hover
    background: #e3e3e3
    border-color: #b3b3b3
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgb(227,227,227)), color-stop(0.5, rgb(239,239,239)))
    background: -moz-linear-gradient(center top, rgb(227,227,227) 50%, rgb(239,239,239) 50%)

  &:active
    padding: 5px 12px 3px 12px
    background: #d7d7d7

#movies, #people, #genres, #keywords, #languages, #countries, #decades, #years
  margin: 10px 0

  th
    .current
      padding-right: 20px
      background-repeat: no-repeat
      background-position: right
    .asc
      background-image: url(/images/icons/arrow-090.png)
    .desc
      background-image: url(/images/icons/arrow-270.png)

.pagination
  float: right
  display: inline

  .previous_page:not(.disabled), .next_page:not(.disabled)
    &:hover
      color: #06C
      background-color: #fff

  a, em, .disabled
    display: inline-block
    padding: 0 6px
    text-decoration: none
    font-style: normal
    border: 1px solid #eee
    color: #000

  a:hover
    color: #fff
    background: #06C
    border-color: #000

  em
    background-color: #fff200
    font-weight: bold

  .disabled
    color: #ccc

#genre_checkboxes
  width: 35%
  margin: 0
  padding: 0

  td
    background: #fff

  label
    font-weight: normal
    font-size: 1em
    cursor: pointer

.hidden
  display: none

#ajax_button_indicator
  margin-left: 8px

  img
    vertical-align: middle

#ajax_activity
  position: fixed
  top: 50%
  left: 50%
  margin-top: -12px
  margin-left: -12px
  z-index: 9000

.left
  float: left
  margin-right: 10px

.right
  float: right
  margin-left: 10px

#admin_controls
  display: inline

  a.button
    margin: -6px 6px 0 0

.clear
  clear: both

#search_form
  input[type=submit]
    visibility: hidden

#credits
  th
    padding-left: 0
    font-size: 1.3em

.main_cell
  width: 50%

.ellipsis
  width: 20px

.numeric
  text-align: center

td.delete
  text-align: right
  padding-right: 4px

#psh
  float: left
  margin-right: 10px

#minimum_total
  width: 30px

.stats_icon
  vertical-align: top

.green
  color: green
  font-weight: bold

.orange
  color: orange
  font-weight: bold

.red
  color: red
  font-weight: bold

ul
  margin-bottom: 0

#synopsis
  p
    margin: 0
    font-family: 'Georgia'
    font-size: 1.3em
    line-height: 1.6em

.info_section
  border: 1px solid #bbb
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  padding: 10px
  margin-bottom: 20px

  h3
    font-family: 'Trebuchet MS'
    font-weight: bold
    color: #790000
    padding-bottom: 10px
    border-bottom: 1px solid #ddd
    margin-bottom: 10px

  table
    margin: 0

  hr
    background: #ddd
    margin: 8px 0

  .tag_label
    font-weight: bold
    font-size: 1.1em

  .more
    color: #0c8200
    font-style: italic
    display: inline-block

#full_keywords
  -webkit-column-count: 4
  -webkit-column-rule: 1px solid #eee
  -webkit-column-gap: 20px
  -moz-column-count: 4
  -moz-column-rule: 1px solid #eee
  -moz-column-gap: 20px

  ul
    list-style-type: square

#keyword_cloud
  font-family: 'Tekton Pro', 'Comic Sans MS'
  letter-spacing: 1px

  a
    text-decoration: none

    &:hover
      text-decoration: underline

  .css1
    font-size: 0.9em
    color: #999

  .css2
    font-size: 1.2em
    color: #111

  .css3
    font-size: 1.6em
    color: #0c8200

  .css4
    font-size: 2.1em
    color: #b80000

.random_quote
  text-align: center
  padding: 2px 0
  margin: 4px
  font-family: 'American Typewriter'
  font-size: 1em
  letter-spacing: 1px
  word-spacing: 1px
  font-style: italic
