body
  background: #fff
  color: #333
  font-size: 80%
  padding: 0 0 20px 0

h2
  margin-bottom: 0

#admin_wrapper
  width: 100%
  position: fixed
  background: #000

  #admin_bar
    text-align: center
    font-size: 1.16em
    padding: 10px
    width: 940px
    margin: auto

    a.button
      font-family: 'Trebuchet MS'

header
  border-bottom: 1px solid #eee
  padding: 0
  margin: 60px 0 10px 0
  font-family: 'Bank Gothic'
  h1
    margin: 0
    font-size: 4em
    text-shadow: #000 1px 1px 2px
    a
      text-decoration: none
      &:hover
        color: #000

nav
  border-bottom: 1px solid #eee
  padding: 0 0 10px 0
  margin: 0 0 10px 0
  a
    text-decoration: none
    &:hover
      color: #000

#search_form
  input:not([type=submit])
    font-family: 'Helvetica Neue'

.flash
  padding: 3px 8px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px

.close
  color: #000
  cursor: pointer
  float: right
  font-family: verdana

#error_explanation
  width: 100%
  border: 1px solid #c00
  padding-bottom: 0
  margin-bottom: 20px
  background: #f0f0f0
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 1.25em
  h2
    text-align: left
    font-weight: bold
    padding: 4px 4px 4px 8px
    margin-bottom: 0
    font-size: 0.8em
    background: #c00
    color: #fff
  ul
    margin: 4px 0
    padding-left: 28px
    list-style: square
  ul li
    font-size: 0.8em
    font-style: italic

.field_with_errors
  label
    color: #c00
  input, input:focus
    border: 1px solid #c00

label
  font-size: 1.25em

input
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  font-family: 'Monaco', monospace
  font-size: 1.25em

input[type=submit]
  font-size: 1em
  border: 1px solid #d3d3d3
  background: #efefef
  margin: 12px 0
  font-family: 'Helvetica Neue'

  &:hover
    border-color: #b3b3b3
    background: #e3e3e3

a.button, input[type=submit]
  color: #606060
  background: #efefef
  padding: 5px 10px
  line-height: 1.0em
  font-weight: bold
  border: 1px solid #d3d3d3
  vertical-align: middle
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgb(239,239,239)), color-stop(0.5, rgb(227,227,227)))
  background: -moz-linear-gradient(center top, rgb(239,239,239) 50%, rgb(227,227,227) 50%)
  text-decoration: none
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  display: inline-block
  line-height: 1em
  font-family: 'Helvetica Neue'
  cursor: pointer

  &:hover
    border-color: #b3b3b3
    background: #e3e3e3

  &:hover
    background: #e3e3e3
    border-color: #b3b3b3
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgb(227,227,227)), color-stop(0.5, rgb(239,239,239)))
    background: -moz-linear-gradient(center top, rgb(227,227,227) 50%, rgb(239,239,239) 50%)

  &:active
    padding: 6px 10px 4px 10px
    background: #d7d7d7

#movies, #people, #genres, #keywords, #languages, #countries
  margin: 10px 0

  th
    .current
      padding-right: 20px
      background-repeat: no-repeat
      background-position: right
    .asc
      background-image: url(/images/icons/arrow-090.png)
    .desc
      background-image: url(/images/icons/arrow-270.png)

.pagination
  float: right
  display: inline

  .disabled
    display: none

  .previous_page, .next_page
    &:hover
      color: #06C
      background-color: #fff

  a, em
    display: inline-block
    padding: 0 6px
    text-decoration: none
    font-style: normal
    border: 1px solid #eee
    color: #000

  a:hover
    color: #fff
    background: #06C
    border-color: #000

  em
    background-color: #fff200
    font-weight: bold

#genre_checkboxes
  width: 35%
  margin: 0
  padding: 0

  td
    background: #fff

  label
    font-weight: normal
    font-size: 1em
    cursor: pointer

.hidden
  display: none

#ajax_button_indicator
  margin-left: 8px

  img
    vertical-align: middle

.left
  float: left
  margin-right: 10px

.right
  float: right
  margin-left: 10px

#admin_controls
  display: inline

  a.button
    margin: 0 6px 0 0

.clear
  clear: both

#search_form
  input[type=submit]
    display: none

#credits
  th
    padding-left: 0
    font-size: 1.3em

.main_cell
  width: 50%

.ellipsis
  width: 20px

.numeric
  text-align: center

td.delete
  text-align: right
  padding-right: 4px