.large-poster {
  width: 300px;
  height: 420px; }

.aka {
  font-style: italic; }

.original-poster-link {
  border: 1px solid #ddd;
  display: inline-block;
  float: left;
  margin: 0;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  width: 300px;
  height: 420px; }

.movie-info {
  margin-left: 320px; }

.synopsis {
  p {
    font-family: 'Georgia';
    line-height: 24px;
    text-align: justify; } }
