#perfect-movies {
  .perfect-movie {
    display: inline-block;
    height: 218px;
    margin: 0 8px 12px 0;
    position: relative;
    width: 158px;

    &:hover .caption {
      display: block;
    }

    a {
      color: white;
    }

    .caption {
      background: rgba(0, 0, 0, 0.75);
      bottom: 5px;
      display: none;
      left: 5px;
      padding: 4px 7px;
      position: absolute;
      right: 5px;
    }
  }
}

.tiny-poster {
  border: 1px solid #ddd;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  margin-right: 4px;
  vertical-align: middle;
}
