- movies = @person.movies.order('year DESC, sort_title DESC')

.carousel.slide#person-carousel
  .carousel-inner
    - movies.each_with_index do |movie, i|
      .carousel-item{ class: (:active if i.zero?) }
        = image_tag movie.poster.url(:large), class: 'img-thumbnail w-100'

  - unless movies.length.zero?
    = link_to '#person-carousel', class: 'carousel-control-prev', data: { slide: 'prev' } do
      %span.carousel-control-prev-icon

    = link_to '#person-carousel', class: 'carousel-control-next', data: { slide: 'next' } do
      %span.carousel-control-next-icon
