#credits
  - Credit::JOBS.each do |job, credit_type|
    - count = @person.send "number_of_#{credit_type}_credits"
    - unless count == 0
      = render 'people/show/credit_listing', job: job, credit_type: credit_type, count: count
