- total = @person.movies.length

.table-responsive
  %table.table.table-bordered
    %thead.thead-light
      %tr
        %th
          Frequent Collaborators

    %tbody
      %tr
        %td
          - @person.frequent_collaborators.each_with_index do |person, i|
            - fraction = "#{person.count}/#{total}"
            - percentage = format('%.2f%%', person.count / total.to_f * 100)

            = link_to person.name, person, class: 'percentage-popover badge badge-primary', data: { fraction: fraction, percentage: percentage }
