- count = @person.movies.size

.table-responsive
  %table.table.table-bordered
    %thead.thead-light
      %tr
        %th
          Frequent Collaborators

    %tbody
      %tr
        %td
          - @person.frequent_collaborators.each do |person|
            - fraction = "#{person.total}/#{count}"
            - percentage = format('%.2f%%', person.total / count.to_f * 100)

            = link_to person.name, person, class: 'percentage-popover badge badge-primary', data: { fraction: fraction, percentage: percentage }
