- @total = @person.movies.length

.table-responsive
  %table.table.table-bordered
    %tbody
      = render 'people/show/tag_list', type: 'genre'

      = render 'people/show/tag_list', type: 'language'

      = render 'people/show/tag_list', type: 'country'

      = render 'people/show/tag_list', type: 'keyword'
