- @total = @person.movies.length

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        %h3 Tags
  %tbody
    = render 'people/show/tag_list', :type => :genre

    = render 'people/show/tag_list', :type => :language

    = render 'people/show/tag_list', :type => :country

    = render 'people/show/tag_list', :type => :keyword
