- if object.errors.any?
  #error-explanation.alert.alert-block.alert-error
    %h2.alert-heading
      = pluralize(object.errors.count, 'error')
      prohibited this
      = object.class.to_s.underscore.humanize.downcase
      from being saved:
    %br
    %ul
      - object.errors.full_messages.each do |msg|
        %li
          %strong= msg
