- if obj.errors.any?
  .callout.callout-danger
    %h4
      = pluralize obj.errors.count, 'error'
      prohibited this
      = obj.class.name.titleize
      from being saved:

    %ul
      - obj.errors.full_messages.each do |msg|
        %li
          = msg
