.modal.fade#login-modal{ tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title
          Login

        %a.close{ data: { dismiss: 'modal' } }
          &times;

      .modal-body
        = render 'sessions/form'
