#login-modal.modal.fade{tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{data: { dismiss: 'modal' }}
          &times;

        %h4.modal-title
          Login

      .modal-body
        = render 'sessions/form', remote: true
