= page_header do
  %h1
    = link_to 'Lists', item_lists_path

- if @lists.empty?
  %p There are no lists.
- else
  %ul.list-group
    - @lists.each do |list|
      %li.list-group-item
        = link_to list.name, list
