= render 'item_lists/show/admin_controls'

.page-header
  %h1
    = link_to 'Lists', item_lists_path

    %span.divider /

    = @list.name

- if @list.listings.empty?
  %p Sorry, this list is currently empty.
- else
  = render 'list'
