.admin-controls
  = link_to @list, :class => 'btn' do
    %i.icon-arrow-left
    Back

  = link_to @list, :confirm => CONFIRM, :method => :delete, :class => 'btn btn-danger' do
    %i.icon-trash.icon-white
    Delete
