//= require_self
//= require bootstrap-overrides
//= require plugins
//= require_tree .

@import 'bootstrap-custom';

body {
  padding: 50px 0 20px 0;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  font-family: 'Verdana';
  padding-top: 12px;
}

#content {
  padding-top: 15px;
}

#main-content {
  margin-bottom: 20px;
}

.green-rating {
  color: #468847;
}

.orange-rating {
 color: #F89406;
}

.red-rating {
 color: #B94A48;
}

.highlight {
  background: yellow;
  padding: 0 6px;
}

.pagination {
  margin: 0 0 15px 0;
}

.admin-controls {
  display: none;
  float: right;

  .btn:not(:last-child) {
    margin-right: 6px;
  }
}

.credit-rating {
  text-align: right;
  width: 50px;
}

.delete-cell {
  width: 40px;
}

.icons {
  font-size: 20px;

  a {
    text-decoration: none;
  }

  img {
    margin: 0 4px 4px 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.rating {
  font-size: 64px;
  font-weight: bold;
  line-height: 46px;

  @media (min-width: 768px) {
    float: right;
  }
}


@media (min-width: 768px) {
  #main-content {
    padding-left: 0;
  }
}
