//= require_self
//= require plugins
//= require_tree .

@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  font-family: 'Verdana';
  padding-top: 12px;
}

table {
  td {
    vertical-align: middle !important;
  }
}

#sidebar-links {
  top: 5rem;

  a:NOT(.active):hover {
    background: $light;
  }
}

.admin-controls {
  display: none;
  float: right;
}

.icons {
  font-size: 20px;

  a {
    text-decoration: none;
  }

  img {
    margin: 0 4px 4px 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.pagination {
  margin: 0 0 15px 0;

  &:last-child {
    margin: 0;
  }
}

.rating {
  font-size: 64px;
  font-weight: bold;
  line-height: 46px;

  @media (min-width: 768px) {
    float: right;
    margin-left: 10px;
  }
}

.navbar-brand {
  color: yellowgreen !important;
}
