//= require_self
//= require plugins
//= require_tree .

@import 'bootstrap';
@import 'font-awesome';

body {
  padding: 50px 0 20px 0;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  font-family: 'Verdana';
  padding-top: 12px;
}

#content {
  padding-top: 15px;
}

#main-content {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.admin-controls {
  display: none;
  float: right;

  .btn:not(:last-child) {
    margin-right: 6px;
  }
}

.icons {
  font-size: 20px;

  a {
    text-decoration: none;
  }

  img {
    margin: 0 4px 4px 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.pagination {
  margin: 0 0 15px 0;

  &:last-child {
    margin: 0;
  }
}

.rating {
  font-size: 64px;
  font-weight: bold;
  line-height: 46px;

  @media (min-width: 768px) {
    float: right;
    margin-left: 10px;
  }
}
