.tiny-poster {
  border: 1px solid #ddd;
  margin-right: 6px;
  vertical-align: middle;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  width: 20px;
  height: 28px; }

.large-poster {
  width: 300px;
  height: 420px; }

.aka {
  font-style: italic; }

.original-poster-link {
  border: 1px solid #ddd;
  display: inline-block;
  float: left;
  margin: 0;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  width: 300px;
  height: 420px; }

.movie-info {
  margin-left: 320px; }

.synopsis {
  p {
    font-family: 'Georgia';
    line-height: 24px;
    text-align: justify; } }

#full-keywords {
  -webkit-column-count: 4;
  -webkit-column-rule: 1px solid #e4e4e4;
  -webkit-column-gap: 20px;
  -moz-column-count: 4;
  -moz-column-rule: 1px solid #e4e4e4;
  -moz-column-gap: 20px;
  ul {
    list-style-type: square; } }

#genre-checkboxes {
  td {
    padding-right: 20px;
    span {
      cursor: pointer;
      font-weight: normal; } } }
