#full-keywords {
  -moz-column-count: 2;
  -webkit-column-count: 2;

  -moz-column-rule: 1px solid #e4e4e4;
  -webkit-column-rule: 1px solid #e4e4e4;

  ul {
    list-style-type: square;
  }

  @media (min-width: 768px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }

  @media (min-width: 992px) {
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}

#original-movie-poster {
  img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    width: 100%;
  }

  @media (min-width: 768px) {
    padding-right: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

#perfect-movies {
  .perfect-movie {
    display: inline-block;
    height: 218px;
    margin: 0 8px 12px 0;
    position: relative;
    width: 158px;

    &:hover .caption {
      display: block;
    }

    a {
      color: white;
    }

    .caption {
      background: rgba(0, 0, 0, 0.75);
      bottom: 5px;
      display: none;
      left: 5px;
      padding: 4px 7px;
      position: absolute;
      right: 5px;
    }
  }
}

.synopsis {
  p {
    font-family: 'Georgia';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: justify;
  }
}

.tiny-poster {
  border: 1px solid #ddd;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  margin-right: 4px;
  vertical-align: middle;
}
