#keyword-cloud {
  font-family: 'Tekton Pro', 'Comic Sans MS';
  letter-spacing: 1px;

  .cloud1 {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
  }

  .cloud2 {
    color: #111111;
    font-size: 16px;
    line-height: 24px;
  }

  .cloud3 {
    color: #3A87AD;
    font-size: 22px;
    line-height: 31px;
  }

  .cloud4 {
    color: #468847;
    font-size: 30px;
    line-height: 45px;
  }

  .top-keyword {
    color: #B94A48;
    font-size: 40px;
    line-height: 60px;
    text-shadow: black 1px 1px 1px;

    &:hover {
      color: red;
      text-decoration: none;
    }
  }
}

#person-carousel-wrapper {
  padding-right: 0;

  img {
    width: 100%;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding-right: 20px;
  }
}
