#keyword-cloud {
  font-family: 'Tekton Pro', 'Comic Sans MS';
  letter-spacing: 1px;

  .cloud1 {
    color: #999999;
    font-size: 0.75em;
  }

  .cloud2 {
    color: #111111;
    font-size: 1em;
  }

  .cloud3 {
    color: #3A87AD;
    font-size: 1.5em;
  }

  .cloud4 {
    color: #468847;
    font-size: 2.25em;
  }

  .top-keyword {
    color: #B94A48;
    font-size: 3.25em;
  }
}
