#quote-carousel  {
  padding: 0 50px 0 50px;

  blockquote {
    border-left: none;
    margin: 0;
    padding: 0;

    p:before {
      content: '\f10d';
      font-family: 'Fontawesome';
      margin-right: 5px;
    }

    p:after {
      content: '\f10e';
      font-family: 'Fontawesome';
      margin-left: 5px;
    }
  }

  .carousel-control {
    background: none;
    color: #222;
    text-shadow: none;
    width: 30px;
  }

  .fa-chevron-left {
    left: 0;
  }

  .fa-chevron-right {
    right: 0;
  }
}
