- cache 'missing_years', expires_in: 2.weeks do
  - all_years = (Movie.minimum(:year)..Time.zone.now.year).to_a
  - movie_years = Movie.distinct.pluck :year
  - missing_years = (all_years - movie_years).sort

  - unless missing_years.empty?
    .alert.alert-info.alert-dismissable
      %strong Missing:

      = missing_years.join ', '

      %a.close{data: { dismiss: 'alert' }}
        &times;
