- all_years = (Movie.minimum(:year)..Movie.maximum(2010)).to_a
- movie_years = Movie.select(:year).uniq.map &:year
- missing_years = (all_years - movie_years).sort
- unless missing_years.empty?
  .alert.alert-info
    %strong Missing:
    = missing_years.join ', '
    %a.close &times;
