- cache 'missing_years', expires_in: 2.weeks do
  - all_years = (Movie.minimum(:year)..Movie.maximum(2010)).to_a
  - movie_years = Movie.select(:year).uniq.map &:year
  - missing_years = (all_years - movie_years).sort

  - unless missing_years.empty?
    .alert.alert-info.alert-dismissable
      %strong Missing:

      = missing_years.join ', '

      %button{type: 'button', class: 'close', data: { dismiss: 'alert' }}
        &times;
