.admin-controls
  = link_to [:edit, @movie], class: 'btn btn-info', rel: 'nofollow' do
    %i.icon-edit.icon-white
    Edit

  = link_to @movie, class: 'btn btn-danger', rel: 'nofollow',
    method: 'delete', data: { confirm: CONFIRM } do
    %i.icon-trash.icon-white
    Delete
