.admin-controls
  = link_to [:edit, @movie], :class => 'btn btn-info' do
    %i.icon-edit.icon-white
    Edit

  = link_to @movie, :confirm => CONFIRM, :method => :delete, :class => 'btn btn-danger' do
    %i.icon-trash.icon-white
    Delete
