.admin-controls
  = link_to [:edit, @movie], class: 'btn btn-info btn-lg', title: 'Edit', rel: 'nofollow' do
    = icon :edit

  = link_to @movie, class: 'btn btn-danger btn-lg', title: 'Delete', rel: 'nofollow', method: 'delete', data: { confirm: CONFIRM } do
    = icon 'trash-o'
