%p
  %strong Runtime:
  #{@movie.runtime} min

%p
  %strong Genres:
  = raw @movie.genres.order(:name).map { |genre| tag_link genre, :genre }.join ' | '

%p
  %strong Languages:
  = raw @movie.languages.order(:name).map { |language| tag_link language, :language }.join ' | '

%p
  %strong Countries:
  = raw @movie.countries.order(:name).map { |country| tag_link country, :country }.join ' | '
