%p
  %strong Runtime:
  #{@movie.runtime} min

- %w[genres languages countries].each do |type|
  %p
    %strong
      = "#{type.capitalize}:"

    - @movie.send(type).order(:name).each do |tag|
      = tag_link tag, type.singularize, class: 'badge badge-primary'
